/* font-family: 'Inter',sans-serif;
font-family: 'Kalam',cursive;
font-family: 'Roboto',sans-serif; */
h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.container {
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #2C2C2C;
}

/* ===== HEADER ===== */
.hdr {
    background: #FEFEFE;
    box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
}

.hdr-nav {
    display: flex;
    margin-left: auto;
}

.main-nav {
    display: flex;
    align-items: center;
}

.main-nav .hdr-nav .item:not(:first-child) {
    margin-left: 28px;
}

.hdr-nav .link {
    display: block;
    font-size: 14px;
    line-height: 16px;
    padding-top: 28px;
    padding-bottom: 28px;
}

.link:hover,
.link:focus {
    text-decoration-line: underline;
    color: #BBF330;
}

.btn {
    padding: 6px 18px;
    border-radius: 30px;
    border: none;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    text-align: right;
    cursor: pointer;
    color: #2C2C2C;
    background-color: #BBF330;
}

.main-nav .btn {
    margin-left: 30px;
}

.btn:hover,
.btn:focus {
    background-color: #FFE450;
}


/* ===== Hero ===== */

.hero-box {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 159px;
}

.second-hero-box {
    max-width: 503px;
}

.hero-title {
    font-size: 48px;
    line-height: 1.2;
    margin-bottom: 28px;
}

.hero-text {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 40px;
}

.slider {
    position: absolute;
    width: 580px;
    height: 580px;
    left: auto;
    right: 30px;
}

.hero-img {
    display: block;
    top: 14px;
    border: 26px solid #FFE550;
    border-radius: 50%;

}

.slick-prev::before {
    content: '\276E';
    color: #2C2C2C;
    font-size: 35px;
}

.slick-prev {
    left: -15px;
    z-index: 2;

}

.slick-next::before {
    content: '\276F';
    color: #2C2C2C;
    font-size: 35px;
    line-height: 1;
}

.slick-next {
    right: -15px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    width: 48px;
    height: 40px;
}

.slick-arrow {}

/* ===== Offerings ===== */

.main-box {
    display: flex;
    background-image: url(../img/ellipse4.png), url(../img/ellipse1.png), url(../img/ellipse2.png), url(../img/fon1.png);
    background-repeat: no-repeat;
    background-size: 252px, 500px, 550px, cover;
    background-position: top 622px left 171px, bottom 67px left 40px, bottom 43px left 16px, center;
    padding-bottom: 100px;
}

.apple {
    margin-top: 180px;
    margin-left: 84px;
}

.second-main-box {
    margin-top: 260px;
    margin-right: 35px;
    margin-left: auto;
    max-width: 573px;
}

.main-list {
    display: flex;

}

.main-list .item:not(:first-child) {
    max-width: 253px;
    margin-left: 67px;
}

.main-title {
    font-size: 42px;
    line-height: 1.2;
    margin-bottom: 20px;

}

.main-text {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 40px;
    margin-right: 62px;
}

.main-subtile {
    font-size: 18px;
    line-height: 1.39;
    margin-bottom: 16px;
}

.main-desc {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 32px;
}

.main-btn {
    border: 2px solid #7EB101;
    border-radius: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.53;
    color: #2C2C2C;
    background: #FFFFFF;
    cursor: pointer;
    padding: 10px 22px;
}

.main-btn:hover,
.main-btn:focus {
    background-color: #BBF330;
}

.of-block-svg {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 48px;
    height: 48px;
    background: #FEFEFE;
    border-radius: 50%;
    margin-bottom: 8px;

}

.of-svg {
    fill: #7EB101;
}

/* ===== Favorites =====*/
.menu {
    padding-top: 100px;
    padding-bottom: 100px;
}

.menu-title {
    font-size: 42px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 20px;
}

.menu-text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 40px;
}

.menu-box-first {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

.menu-box-second {
    display: flex;
    justify-content: space-between;
}

.menu-img {
    border: 16px solid #FFE550;
    padding: 25px 24px;
    border-radius: 197.5px;
}

.menu-img:hover {
    border-color: #BBF330;
}

/* ===== Customers ===== */
.review-title {
    font-size: 42px;
    line-height: 1.17;
    margin-left: 16px;
    margin-bottom: 20px;
}

.review-text {
    font-size: 16px;
    line-height: 1.19;
    margin-left: 16px;
    margin-bottom: 32px;
}

.review .list {
    display: flex;

}

.review-item {
    max-width: 501px;
    background: #FEFEFE;
    border-radius: 0px 30px 30px 30px;
    padding: 14px;
    margin-right: 139px;
}

.review-box {
    padding-top: 100px;
    padding-bottom: 210px;
    background-image: url(../img/fon2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.review-svg {
    fill: #FFE550;
    margin-bottom: 28px;
}

.review-second-text {
    font-size: 18px;
    line-height: 1.16;
    margin-bottom: 40px
}

.review-mini-box {
    display: flex;
    max-width: 160px;
    border-right: 1px solid #7EB101;
}

.review-subtitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    margin-left: 16px;
    margin-bottom: 2px
}

.review-desc {
    font-size: 14px;
    line-height: 1.5;
    margin-left: 16px;
}


/* ===== Subscribe ===== */
.subs {
    margin-top: -80px;
    padding-bottom: 64px;
}

.subs-title {
    font-size: 42px;
    line-height: 1.2;
    margin-bottom: 20px
}

.subs-text {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 24px
}

.subs-block {
    display: flex;
    align-items: center;
}

.subs-input {
    background: #FEFEFE;
    border: 0.854167px solid #FFE550;
    border-radius: 30px;
    padding: 12px 12px;
    margin-bottom: 12px;
    width: 394px;
}

.subs-input::placeholder {
    font-size: 12px;
    line-height: 150%;
    color: #505050;
}

.subs-btn {
    padding: 11px 22px;
    border-radius: 30px;
    border: none;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    text-align: right;
    cursor: pointer;
    color: #2C2C2C;
    background-color: #BBF330;
    margin-left: 32px;
}

.subs-btn:hover,
.subs-btn:focus {
    background-color: #FFE450;
}

/* ===== Footer =====*/
.ftr {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(../img/fon3.png);
    background-repeat: no-repeat;
    background-position: bottom;
    box-shadow: 0px -4px 24px rgba(105, 105, 105, 0.1);
}

.ftr-nav {
    display: flex;
    margin-bottom: 80px;
    align-items: center;

}

.ftr-logo {
    margin-right: 148px;
}

.ftr-nav .list {
    display: flex;
}

.ftr-item:not(:last-child) {
    margin-right: 28px;
}

.ftr-nav .link {
    font-size: 14px;
    line-height: 1.14;
    color: #2C2C2C;
}

.ftr-nav .link:hover,
.ftr-nav .link:focus {
    color: #BBF330;
}

.ftr-form {
    margin-left: auto;
}

.ftr-mail-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 12px;
}

.ftr-input {
    background: #FEFEFE;
    border: 0.854167px solid #FFE550;
    border-radius: 30px;
    padding: 12px 12px;
    margin-bottom: 12px;
    width: 280px;
}

.ftr-input::placeholder {
    font-size: 12px;
    line-height: 150%;
    color: #505050;
}

.ftr-mail-btn {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 150%;
    color: #2C2C2C;
    padding: 11px 22px;
    background: #FFFFFF;
    border: 0.854167px solid #7EB101;
    border-radius: 30px;
    margin-left: 13px;
    cursor: pointer;
}

.ftr-mail-btn:hover,
.ftr-mail-btn:focus {
    border: 2px solid #FFE450;
}

.ftr-link,
.ftr-mail-link {
    font-size: 12px;
    line-height: 1.16;
    text-decoration-line: underline;
    color: #7EB101;
}

.ftr-text,
.ftr-mail-text {
    font-size: 12px;
    line-height: 1.16;
}

.ftr-text {
    margin-left: auto;
}

.ftr-end {
    display: flex;
    align-items: center;
}

.ftr-end .list {
    display: flex;
}

.ftr-end-item:not(:last-child) {
    margin-right: 20px;
}